<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ myname }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let element of todo">
  <ion-item>
    <ion-label>{{element}}</ion-label>
  </ion-item>
</ion-list>

<ion-button (click)="btnClick()">POWER</ion-button>

<ion-grid>
  <ion-row *ngFor="let element of books">
    <ion-col>{{element.bookName}}</ion-col>
    <ion-col>{{element.authorName}}</ion-col>
    <ion-col>{{element.year}}</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
