<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ myname }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let element of todo">
  <ion-item>
    <ion-label>{{element}}</ion-label>
  </ion-item>
</ion-list>

<ion-card>
  <ion-card-header>
    <ion-card-title><b>Добавление книги:</b></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input label="Название книги:" [(ngModel)] = "bookname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Автор:" [(ngModel)] = "authorName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Год:" [(ngModel)] = "year"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-button (dblclick)="doubleBtnClick()" (click) = "btnClick()">Добавить книгу</ion-button>

<ion-grid>
  <ion-row>
    <ion-col><b>Название книги</b></ion-col>
    <ion-col><b>Автор</b></ion-col>
    <ion-col><b>Год</b></ion-col>
    <ion-col><b></b></ion-col>
  </ion-row>
  <ion-row *ngFor="let element of books">
    <ion-col>{{element.bookName}}</ion-col>
    <ion-col>{{element.authorName}}</ion-col>
    <ion-col>{{element.year}}</ion-col>
    <ion-col><ion-button (click) = "delete(element.id)">delete</ion-button></ion-col>
  </ion-row>
</ion-grid>

</ion-content>
